*{
    padding: 0;
    margin: 0;
}
main{
    background-color: rgb(255, 240, 221);
    /*border: 5px solid green;
    padding: 5px;*/
    width: 80%;
    min-width: 1266px;
    margin-left: auto;
    margin-right: auto;
}


nav{
    background-color: rgb(59, 8, 8);
    display: flex;
    justify-content: space-between;
}

nav img{
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}


nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}
#img-nav{
    flex: 1;
    justify-content: left;
    gap: 10px;
}

#link-nav a{
    flex: 2;
    display: block;
    text-decoration: none;
    padding: 1em;
    font-size: 1.2em;
}
nav a:link{
    color: rgb(255, 240, 221);
}
nav a:visited{
    color: rgb(255, 240, 221);
}
nav a:hover{
    color: rgb(249, 153, 0);
}
nav a:active{
    color: rgb(228, 249, 0);
}

img{
    width: 100%;
    height: 100%;
}


footer{
    background-color: rgb(59, 8, 8);
    color: rgb(255, 240, 221);
    padding: 10px;
}
#footer-nav{
    text-align: center;
}
#footer-nav a{
    text-decoration: none;
    font-size: 1.3em;
}
#footer-nav a:link{
    color: rgb(255, 240, 221);
}
#footer-nav a:visited{
    color: rgb(255, 240, 221);
}
#footer-nav a:hover{
    color: rgb(249, 153, 0)
}

#footer-nav p{
    font-size: 1em;
    padding: 0.5em;
}
#copyright{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    background-color: rgb(255, 240, 221);
    color: rgb(59, 8, 8);
}


